// Fonts - Montserrat
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap");

// Style presets
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

// Variables
$screen-lg-min: "1200px";
$screen-md-min: "970px";
$screen-sm-min: "750px";

.wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $screen-sm-min) {
    width: 750px;
  }
  @media (min-width: $screen-md-min) {
    width: 970px;
  }
  @media (min-width: $screen-lg-min) {
    width: 1170px;
  }
}

header {
  position: absolute;
  top: 0;
  z-index: 9;
  left: 0;
  right: 0;
  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    ul.nav-links {
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      .nav-link-item {
        margin-right: 25px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

#banner {
  height: 680px;
  @media (max-width: $screen-sm-min) {
    height: 100%;
  }
  position: relative;
  background-image: url(./../Images/heroBg0.png);
  background-position: center;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 4%;
    @media (max-width: $screen-sm-min) {
      padding-top: 30%;
    }
    .hero-title {
      h3 {
        text-align: center;
        color: #fff;
        font-size: 50px;
        font-weight: 500;
        @media (max-width: $screen-sm-min) {
          font-size: 35px;
          margin-bottom: 15px;
        }
      }
    }

    .hero-sub-title {
      p {
        text-align: center;
        font-size: 25px;
        color: #fff;
        margin: 0 auto;
        line-height: 2rem;
        padding: 0 240px;
        @media (max-width: $screen-sm-min) {
          padding: 0 30px;
          font-size: 18px;
          line-height: normal;
        }
        @media (max-width: $screen-md-min) {
            padding: 0 70px;
          }
      }
    }
    .hero-cta {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 35px 0;
      .download {
        background: #63bf27;
        color: #fff;
        padding: 20px 25px;
        border-radius: 10px;
        font-weight: 500;
        font-size: 18px;
        position: relative;
        padding-right: 50px;
        &::before {
          content: "";
          position: absolute;
          right: 25px;
          top: 50%;
          border-top: 8px solid transparent;
          border-right: 10px solid #fff;
          border-bottom: 8px solid transparent;
          transform: rotate(-90deg) translate(70%);
        }
      }
    }
    .hero-img {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#services {
  text-align: center;
  padding: 50px 0;
  @media (max-width: $screen-sm-min) {
    padding: 30px 0;
  }
  .wrapper {
    display: flex;
    @media (max-width: $screen-sm-min) {
      flex-wrap: wrap;
    }
    .thumbnail {
      width: 33.33333333%;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      padding: 0 30px;
      @media (max-width: $screen-sm-min) {
        width: 100%;
      }
      .icon {
        background: #ccdee9;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: auto;
        margin-bottom: 30px;
        img {
          margin: 0 auto;
          width: 65px;
        }
      }
      .title {
        margin: 0;
        font-weight: 500;
        font-size: 30px;
        color: #303030;
        @media (max-width: $screen-sm-min) {
            font-size: 26px;
          }
      }
      .description {
        color: #444;
        line-height: 1.4rem;
      }
    }
  }
}

#testimonial {
  text-align: center;
  padding: 50px 0;
  @media (max-width: $screen-sm-min) {
    padding: 30px 0;
  }
  .wrapper {
    .heading-wrapper {
      position: relative;
      margin-bottom: 35px;
      .heading {
        margin: 0 0 30px 0;
        font-weight: 500;
        font-size: 32px;
        display: inline;
        background: #fff;
        z-index: 1;
        padding: 0 25px;
        @media (max-width: $screen-sm-min) {
            padding: 0 ;
          }
        &:before {
          content: "";
          height: 1px;
          width: 100%;
          position: absolute;
          top: 50%;
          left: 0;
          background: #b2b2b2;
          transform: translateY(-50%);
          z-index: -1;
          @media (max-width: $screen-sm-min) {
            display: none;
          }
        }
      }
    }
    .testimonial-item {
      display: flex;
      flex-direction: column;
      margin: 0 150px;
      @media (max-width: $screen-sm-min) {
        margin: 0 40px;
      }
      p {
        margin: 0;
        @media (max-width: $screen-sm-min) {
            line-height: 1.7rem;
          }
        
      }
      .text {
        line-height: 2rem;
        font-size: 18px;
        color: #6d6d6d;
        font-weight: 500;
        position: relative;
        &::before {
          content: url("./../Images/comma1.png");
          position: absolute;
          left: -50px;
          top: -10px;
        }
        &::after {
          content: url("./../Images/comma2.png");
          position: absolute;
          right: -50px;
          bottom: -15px;
        }
      }
      .author {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        img {
          margin-right: 10px;
        }
        .about {
          text-align: left;
          font-size: 12px;
          color: #999999;
          font-weight: 500;
          .designation {
            display: inline;
            margin-right: 5px;
          }
          .company {
            color: #83a8d6;
          }
        }
      }
    }
  }
}

#platform {
  background: #f2f2f2;
  text-align: center;
  padding: 50px 0;
  border-top: 2px solid #d1d1d1;
  border-bottom: 2px solid #d1d1d1;
  @media (max-width: $screen-sm-min) {
    padding: 30px 0;
  }
  .heading {
    margin: 0 0 40px 0;
    font-weight: 500;
    font-size: 32px;
    color: #707070;
    @media (max-width: $screen-sm-min) {
        font-size: 28px;
    margin-bottom: 20px;
      }
  }
  .platform-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .name {
        color: #b3b2b2;
      }
    }
  }
}

footer {
  background: #e3e3e3;
  .wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    @media (max-width: $screen-sm-min) {
      justify-content: center;
    }
    .footer-links {
      display: flex;
      align-items: center;
      color: #a2a1a1;
      font-size: 14px;
      @media (max-width: $screen-sm-min) {
        margin-top: 15px;
      }
      .item {
        padding: 0 8px;
        border-right: 1px solid #a2a1a1;
        &:last-child {
          border-right: none;
        }
      }
    }
    .copyright {
      margin-left: auto;
      color: #a2a1a1;
      font-size: 14px;
      @media (max-width: $screen-sm-min) {
        margin-left: 0;
      }
    }
  }
}
